*{
  padding:0;
  margin:0;
}
.pie-container {
  display:flex;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 10px;
  box-sizing: border-box;
  padding-top: 25px;
  margin-bottom: 10px;
  background-color: #e2e7e6;
  padding-left:20px;
  padding-right:20px;
}

.pie-chart {
  width: 25%;
  box-sizing: border-box;
}

/* Media queries */
@media screen and (max-width: 767px) {
  .pie-container {
    grid-template-columns: 1fr 1fr; /* 2 columns for mobile devices */
    display: flex;
    flex-direction: column; /* Switch to a single column layout for smaller screens */
    padding: 15px; /* Adjust overall padding for mobile devices */
  }

  .pie-chart {
    width: 100%; /* Full width for charts on smaller screens */
    margin-bottom: 20px; /* Spacing between charts */
  }
}

@media screen and (min-width: 768px) {
  .pie-container {
    display: flex;
    justify-content: space-between; /* Align charts with space between for larger screens */
    flex-wrap: nowrap; /* Ensure charts stay in a single row */
  }

  .pie-chart {
    width: calc(25% - 20px); /* Set each chart to take up 25% width with spacing */
    margin-bottom: 20px; /* Spacing between charts */
  }

  .charts {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for larger devices */
  }
}
