.sidebar {
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    background-color: #343a40;
    transition: all 0.3s;
    width: 0;
    overflow-x: hidden;
    z-index: 3;
    top: 0; /* Fixed to top */
    left: 0; /* Fixed to left */
  }
  
  .sidebar.open {
    width: 250px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }